[submodule "ReverseReverbVST"]
	path = ReverseReverbVST
	url = https://github.com/liranidan2000-max/ReverseReverbVST.git
[submodule "RoneStemsFixer"]
	path = RoneStemsFixer
	url = https://github.com/liranidan2000-max/RoneStemsFixer.git
[submodule "RoneStutter"]
	path = RoneStutter
	url = https://github.com/liranidan2000-max/RoneStutter.git
[submodule "rone-flanger-"]
	path = rone-flanger-
	url = https://github.com/liranidan2000-max/rone-flanger-.git
[submodule "rone sync verb"]
	path = rone sync verb
	url = https://github.com/liranidan2000-max/rone-sync-verb.git
